
<!--<title>Big Day Birding Planner</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>        
 
 
{% block content %}{% endblock %}-->
