<HTML>
<head>
  <title>Results - Birding Big Day Planner</title>
</head>
<body>


Starting from:<br>
{{ address }} ({{ lat }}, {{ lng }})


<br><br>
---
<br><br>


{% for hotspot in hotspots %}
  {{ hotspot.name }} ({{ hotspot.lat }}, {{ hotspot.lng}})<br>
{% endfor %}


</body>
</HTML>
